.top_menu {
  z-index: 9;
  background-color: #fff;
  position: fixed;
  transition: none;
  width: 100%;
  top:0;
  left:0;
  padding: 20px 30px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);

  .menu_list {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 20px;
      a {
        text-decoration: none;
        color: #555;
        font-weight: bold;
        display: flex;
        align-items: center;

        .mat-icon {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
